/**************************************************************************************************************/
/**************************************************INDEX*******************************************************/
/**************************************************************************************************************/
html{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
#global {
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/cat-bg2.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
    text-align: left;
    line-height: 150px;
    letter-spacing: 4px;
    color: white;
    font-size: 99px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 6px 1px #000;
    transition-duration: .3s;
}
/**************************************************************************************************************/
/***********************************************FORMATION******************************************************/
/**************************************************************************************************************/
#global-formation{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: url(../images/bg-formation.png) no-repeat center center fixed;
  background-size: cover;
}
#timeLineDiv{
  margin-left: 30px;
  margin-top: 30px;
}
.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
  width: 100%
}
.li_form1 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_form1 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.li_form2 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_form2 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.li_form3 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_form3 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.timeline-content::before{
  background-color: #312426 !important;
  left: 115px !important;
  top: 32px !important;
}
.titre{
  font-size: 20px;
  text-transform: uppercase;
}
/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #fff4a8 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
@media screen and (min-width: 200px) and (max-width: 640px){
  /* .p_formation{
    font-size : 1.5rem;
  } */
  .js-enabled .nav-button {
    display: inline-block;
  }
  #global-formation{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    background: url(../images/bg-formation.png) no-repeat center center fixed;
    background-size: cover;
  }
}
/**************************************************************************************************************/
/***********************************************PRESENTATION***************************************************/
/**************************************************************************************************************/
#global-presentation{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: url(../images/bg-presentation.png) no-repeat center center fixed;
  background-size: cover;
}
.p_presentation{
  margin: 16px;
}
.p_presentation:nth-of-type(1){
  text-align: center;
}
.indent{
  text-indent: 5%;
  text-align: justify;
}
/**************************************************************************************************************/
/***********************************************EXPERIENCE*****************************************************/
/**************************************************************************************************************/
#global-experience{
  position: absolute;
  z-index: -10;
  width: 100%;
  /* height: 100%; */
  background: url(../images/bg-experience.png) no-repeat center center fixed;
  background-size: cover;
}
#timeLineDivExperiencePro{
  margin-left: 30px;
  margin-top: 30px;
}
#timeLineDivExperienceSco{
  margin-left: 30px;
  margin-top: 30px;
}
#timeLineDivExperienceAutre{
  margin-left: 30px;
  margin-top: 30px;
}
.styleTitreExp{
  font-size: 20px;
  font-weight: bold;
  font-variant: uppercase;
}
.p_experience_titre{
  width: 170px;
}
.li_exp1 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_exp1 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
  height: 62px !important;
}
.li_exp2 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_exp2 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.li_exp3 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_exp3 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.li_exp4 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_exp4 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
.li_exp5 .timeline-content::before {
    background-color: #312426 !important;
    left: 175px !important;
    top: 32px !important;
}
.li_exp5 .timeline-content{
  width: 75% !important;
  float: left !important;
  border-left: 3px #fff4a8 solid !important;
  padding-left: 30px !important;
}
/**************************************************************************************************************/
/***********************************************COMPETENCES****************************************************/
/**************************************************************************************************************/
#global-competence{
  position: absolute;
  z-index: -10;
  width: 100%;
  /* height: 100%; */
  background: url(../images/bg-competence.png) no-repeat center center fixed;
  background-size: cover;
}
.p_competence{
  font-size: 2em;
  font-weight: 800;
  margin: 25px;
}
#competences{
  text-align: center;
}
#maitrises{
  text-align: center;
}
#langues{
  text-align: center;
}
.img_cat{
  width: 32px;
  height: 32px;
}
/**************************************************************************************************************/
/***********************************************HOBBIES********************************************************/
/**************************************************************************************************************/
#global-hobbies{
  position: absolute;
  z-index: -10;
  width: 100%;
  /* height: 100%; */
  background: url(../images/bg-hobbies.png) no-repeat center center fixed;
  background-size: cover;
}
.p_hobbies{
  font-size: 20px;
  font-weight: 800;
  margin: 25px;
}
.img{
  width: 34px !important;
}
/**************************************************************************************************************/
/**************************************************CONTACT******************************************************/
/**************************************************************************************************************/
#global-contact{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: url(../images/bg-contact2.png) no-repeat center center fixed;
  background-size: cover;
}
#contact{
  margin: 10px;
  color: #555;
  text-align: center;
}
.titreContact{
  font-size: 20px;
}
.sousTitreContact{
  color: #fff4a8;
}
/**************************************************************************************************************/
/**************************************************HEADER******************************************************/
/**************************************************************************************************************/
/*RESET*/
applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height: 1;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after{
	content:'';
	content:none;
}
:focus{
	outline:0;
}
ins{
	text-decoration:none;
}
del{
	text-decoration:line-through;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}

/*MAIN*/
body {
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
  overflow-x : hidden;
  height: 100%;
}
a {
	color: #fff4a8 !important;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #312426 !important;
  text-decoration: none !important;
}
img {
	width: 100%;
}
header {
	background: #fff;
	width: 100%;
	height: 76px;
	top: 0;
	left: 0;
	border-bottom: 4px solid #fff4a8;
	z-index: 100;
}
#logo{
	margin: 20px;
	float: left;
	width: 100px;
  height: 40px;
	/* background: url(../images/cat.png) no-repeat center; */
	display: block;
}
#logo img{
  width: 35% !important;
}
nav {
	float: right;
	padding: 20px;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #312426 url(../images/menu-icon.png) center;
}
a:hover #menu-icon {
	background-color: #312426;
	border-radius: 4px 4px 0 0;
}
ul {
	list-style: none;
}
li {
	display: inline-block;
	float: left;
	padding: 10px
}
.current {
	color: #312426 !important;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
	#menu-icon {
		display:inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	nav:hover ul {
		display: block;
	}
  nav:hover ul{
    background: url(../images/bg-nav-mobile.png) center;
  }
  body{
    overflow-x : hidden;
    height: 100%;
  }
  .li_exp1 .timeline-content{
    height: auto !important;
  }
  #global-presentation{
    height: auto;
  }
  #contact label{
    display: none;
  }
}
